@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #4F46E5 0%, #030207 100%);
  background-image: url('https://framerusercontent.com/images/cudKz9SKkKNNLTsc2IiWZPIM.webp?lossless=1');
  background-size: cover;
  background-attachment: fixed;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-gradient {
  background: linear-gradient(135deg, rgba(79, 70, 229, 0.1) 0%, rgba(3, 2, 7, 0.1) 100%);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hover-effect {
  transition: all 0.3s ease;
}

.hover-effect:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input, textarea, select {
  color: #212121; /* Dark gray color for text */
}

input::placeholder, textarea::placeholder {
  color: #a0aec0; /* Lighter gray color for placeholders */
}